.homeBanner {
    position: relative;
    margin: 40px auto;
    max-width: 1240px;
    height: 223px;
    z-index: 7;
        img {
            position: absolute;
            border-radius: 25px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
}

.opacityBanner { 
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    mix-blend-mode: darken;
    opacity: 0.3;
    background: #000000;
    border-radius: 25px;
}

.textBanner {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 6;
        h1 {
            color: white;
            font-size: 48px;
            font-weight: 500;
        }
}

@media screen and (min-width: 425px) and (max-width: 1024px) {    
    .homeBanner {
        width: 86%;
        max-width: 1024px;
        height: 151px;
            img {
                height: 151px;
                max-width: 1024px;
            }
    }
    .textBanner {
        display: flex;
        padding: 25px 15px;
            h1 {
                font-size: 34px;
            }
    }

}

@media screen and (max-width: 425px) {
    .homeBanner {
        margin: 30px;
        width: 86%;
        max-width: 425px;
        border-radius: 10px;
        height: 111px;
            img {
                border-radius: 20px;
                height: 111px;
                max-width: 425px;
            }
    }
    .textBanner {
        display: flex;
        padding: 25px 15px;
            h1 {
                font-size: 24px;
            }
    }
}