.homeBanner {
    position: relative;
    margin: 40px auto;
    max-width: 1240px;
    height: 223px;
    z-index: 7;
        img {
            position: absolute;
            border-radius: 25px;
        }
}

.opacityBanner { 
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    mix-blend-mode: darken;
    opacity: 0.3;
    background: #000000;
    border-radius: 25px;
}

.textBanner {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 6;
        h1 {
            color: white;
            font-size: 48px;
            font-weight: 500;
        }
}