.containerError {
    width: 100%;
      .titleError {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
        color: #ff6060;
        margin-top: 130px;
        margin-bottom: 180px;
        h1 {
          font-size: 288px;
          font-weight: 700;
        }
        h2 {
          font-size: 36px;
          font-weight: 500;
        }
      }
    .linkError {
      display: block;
      color: #ff6060;
      font-size: 18px;
      text-align: center;
      margin-bottom: 140px;
    }
  }

  @media screen and (max-width: 425px) {
    .containerError {
      .titleError {
        h1 {
          font-size: 98px;
        }
        h2 {
          font-size: 18px;
        }
      }
}}