.kasa-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0 50px 0;
    max-width: 1240px;
    width: 86%;
    margin: auto;
      img {
        width: 40%;
      }
  }

.navigation ul {
  display: flex;
  flex-direction: row;
  gap: 57px;
    li {
      list-style: none;
        a {
          color:#FF6060;
          text-decoration: none;
          font-size: 24px;
        }
        .nav-active {
          border-bottom: 2px solid #ff6060;
        }
    }
}

@media screen and (max-width: 425px) {
  .kasa-header {
    max-width: 425px;
    width: auto;
    margin: 0px 20px;
    padding: 25px 0 0px 0;
  }
  .navigation ul {
    gap: 10px;
      li {
          a {
            font-size: 14px;
          }
      }
  }
}
  